@model IEnumerable<HashPass.Models.AccountListItem>

@{
    ViewBag.Title = "Index";
}

<h2>HashPass</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        
        <th>
            Account
        </th>
       
        <th>
            Date Added
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.AcctName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.AddedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AccountId }) |
            @Html.ActionLink("Details", "Details", new { id = item.AccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AccountId })
        </td>
    </tr>
}

</table>
